$backgroundColor: #252525;
$landingColor: lightgray;
$textcolor: #ffff;
$fontstyle: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji";
$subHeading: 1.25em;
$ellipsecolor: #333333;
$largeHeadingFontSize: 4em;