@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
}
@import "./layout/nav";

body {
  display: grid;
  height: 1vh;
  font-family: $fontstyle;
  color: $textcolor;

  @import "./layout/landing";

  main {
    background-color: $backgroundColor;
  
    @import "./layout/projectsSection";
    
    @import "./layout/aboutMeSection";

    @import "./layout/getInTouchSection";
  }  
}

@import "./layout/ResponsiveSizing/mediaWidth550px";
@import "./layout/ResponsiveSizing/media735px";
@import "./layout/ResponsiveSizing/mediaWidth920px";



