$backgroundColor: #252525;
$landingColor: lightgray;
$textcolor: #ffff;
$fontstyle: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$subHeading: 1.25em;
$ellipsecolor: #333333;

* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  height: 1vh;
  width: 100%;
  font-family: $fontstyle;
  color: $textcolor;

  .landing {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 50em;
    background-color: $landingColor;
    justify-content: center;

    &__text {
      align-self: center;
      
    }

    &__hello {
      padding-top: 4em;
      font-size: 4em;
      font-weight: lighter;
    }

    h1 {
      font-size: 4em;
      padding-top: 2em;
      padding-bottom: 0px;
    }
    &__se {
      font-weight: lighter;
      font-size: $subHeading;
    }
  }

  main {
    background-color: $backgroundColor;

    .section1 {

      display: grid;
      min-width: 1vw;
      grid-template-rows: 1fr 2fr 4fr fr 4fr ;
      gap: 20px;

      &__title {
        padding-top: 15%;
        text-align: center;
        font-weight: lighter;
        font-size: $subHeading;
      }

      img {
        width: 100%;
        padding-top: 10%;
      }

      &__bold {
        font-weight: bold;
      }

      &__description{

        padding-left: 4%;
        h6 {
          font-size: $subHeading;
           }
      }
      .section2 {

        padding-left: 4%;
        padding-right: 4%;

        &__title {
          padding-top: 15%;
          font-weight: lighter;
          font-size: $subHeading;
          
        }

        &__bold {
          font-weight: bold;
        }
      }
      .section3 {       
        &__title {
          padding-top: 15%;
          text-align: center;
          font-weight: lighter;
          font-size: $subHeading;
        }
        &__bold {
          font-weight: bold;
        }

        &__links { 
          display: flex;
          gap: 5%;
          justify-content: center;
          padding: 8%;     
          text-align: center; 
              
        }

        &__logos {
          background-color: $ellipsecolor;
          height: 70px;
          width: 70px;
          border-radius: 3em;
          
        }
      }
    }
  }
}
