@use "../variables" as *;

.section3 {
  &__title {
    padding-top: 10%;
    text-align: center;
    font-weight: lighter;
    font-size: $subHeading;
  }
  &__bold {
    font-weight: bold;
  }

  &__links {
    display: flex;
    gap: 10%;
    justify-content: center;
    padding: 8%;
    text-align: center;
  }

  &__logos {
    background-color: $ellipsecolor;
    height: 70px;
    width: 70px;
    border-radius: 3em;
  }
  &__logos:hover {
    background-color: lightgray;
  }
  .fab,
  .far {
    padding: 19px;
    font-size: 1.8em;
  }
  a:visited,
  a:link {
    color: $textcolor;
  }
}