@use "../variables" as *;

.landing {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 40em;
  
  

  justify-content: center;

  &__bg-img {
    position: fixed;
    height: 100%;
    width: 100%;
    background-size: cover;
    filter: blur(3px);
    z-index: -1;
    
  }

  &__text {
    padding: 1%;
    align-self: center;
  }

  &__hello {
    padding-top: 2em;
    font-size: $largeHeadingFontSize;
    font-weight: lighter;
    // transition: 2s;
  }

  h1 {
    font-size: $largeHeadingFontSize;
    padding-top: 1em;
    padding-bottom: 0px;
    // transition: 2s;
  }
  &__se {
    font-weight: lighter;
    font-size: $subHeading;
    // transition: 2s;
  }

  &__downArrow {
    position: absolute;
    right: 44.5%;
    background: url('https://static1.squarespace.com/static/5e78f290575a6321739eba41/t/5ec8625c6dad0e25fa5a8234/1590190684880/Arrow.png');
    height: 5vmax;
    width: 5vmax;
    // vmax relates to max value of vh and vw i.e 1vmax on 1200 x 600 screen would be 12px 1vmin would be 6px
    background-size: 100%;
    animation: bounce 2s linear infinite;
  }

  @keyframes bounce {
    0% {
      bottom: 25px;
    }
    50% {
      bottom: 30px;
    }
    100% {
      bottom: 25px;
      // Percentages specify when the style change will happen (could up from & to for a-b animation)
    }
  }
}