@use "../../variables" as *;

@media screen and (min-width: 920px) {
  $subHeading: 2em; 
  $largeHeadingFontSize: 5em;

  nav {
    .toggle {
      font-size: $subHeading;
    }
  }

  body {
    
    .landing {
      &__hello {
        font-size: $largeHeadingFontSize;        
      }
  
      h1 {
        font-size: $largeHeadingFontSize;
      }
      &__se {
        font-size: $subHeading;
      } 
      &__downArrow {
        right: 47.5%;
        display: flex;
      
      }
      @keyframes bounce {
        0% {
          bottom: 18.5%;
        }
        50% {
          bottom: 20%;
        }
        100% {
          bottom: 18.5%;
        }
      }      
    }
    main {
      .section1 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr 2fr;
        grid-template-areas:
          "title title"
          "proj1 proj2"
          "proj3 proj4";

        &__title {
          grid-area: title;
          font-size: $subHeading;
        }

        #proj1 {
          grid-area: proj1;
        }
        #proj2 {
          grid-area: proj2;
        }
        #proj3 {
          grid-area: proj3;
        }
        #proj4 {
          grid-area: proj4;
        }

        &__description {
          h6 {
            font-size: $subHeading*0.8;
          }
      }
      
      } 
      .section2 {
        &__title {
          padding-top: 10%;
          font-size: $subHeading;
        }
      }
    
      .section3 {
        &__title {
         padding-top: 7%;
          font-size: $subHeading;
        
        }
        &__links {
          padding: 5%;
        }

      }
  }
}
}